html{
  background-color: #FFFFCC;
  font-family:"STKaiti";
}

nav{
  border: 2px solid #CCCCFF;
  background-color: #CCFFFF;
  border-radius: 10px;
}

li{
  display: inline;
  font-size: 32px;
  margin: 50px;
}

header{
  
}

body{

}

h1{
  text-align: center;
  color: #FF9966;
}

h2{
  text-align: center;
  color: #FFCCCC;
}

article{
  border: 1px solid black;
  margin-right:160px;
  background-color: #FFCCCC;
  opacity: 0.8;
}

aside{
  position:absolute;
  width: 150px ;
  height: 150px; 
  top:180px;
  right: 0;
  margin-right:10px;
}

#岛村之刃{
  text-align: left;
  color: black;
}

#安达与岛村{
  border: 1px solid rgb(145, 145, 240);
  font-size: 0;
}

.picture{
  width: 150px; 
  height: 150px;
}

footer{
  background-color: #CCCCFF;
}



