*{
    padding:0px;
    margin:0px;
}
.right{
   position:absolute; /*右栏定位过去*/
   top:0px;
   right:0px;
   background-color:#fcc;
   width:100px;
   height:100px;
   /*opacity:0.5; /*半透明*/
}
.left{
   background-color:yellow;
   height: 800px;
   /*不设置宽，默认占整行*/
   margin-right:110px;
   /*设置右边框，使其刚好让出右边框的位置，多了十像素是为了演示*/
}

